OPEN_AI_KEY="sk-xxxxxx"
TEMPRATURE="0.5"
MAX_TOKENS="1024"
CUSTOM_BASE_PROMPT="You are ChatGPT, a large language model trained by OpenAI. You answer as concisely as possible for each response (e.g. Don't be verbose).\n"